{% extends 'template.html' %}

{% block title %} Editar - Gestion de Empleados {% endblock %}
{% block name_page %} Editar Empleado {% endblock %}
{% block content %}
{%if rows[0]!=null %}
<form action="{{url_for('main.editar',id=rows[0])}}" name="formEditarEmpleado" method="post">
    {{ form.hidden_tag() }}
    <div class="col-md-6">
        <div class="form-group">
            {{ form.identificacion.label }}
            {{ form.identificacion(value=rows[0], type="number", class="form-control",
            disabled="on") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.fecha_ingreso.label }}
            {{ form.fecha_ingreso(value=rows[8],type="date", class="form-control") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.nombres.label }}
            {{ form.nombres(value=rows[1], type="text", class="form-control") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.tipo_contrato.label }}
            {{ form.tipo_contrato(value=rows[9], type="text", class="form-control") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.apellidos.label }}
            {{ form.apellidos(value=rows[2], type="text", class="form-control") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.terminacion_contrato.label }}
            {{ form.terminacion_contrato(value=rows[10], type="date",class="form-control") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.fecha_nacimiento.label }}
            {{ form.fecha_nacimiento(value=rows[3], type="date",class="form-control") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.cargo.label }}
            {{ form.cargo(value=rows[11], type="text", class="form-control") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.sexo.label }}
            {{ form.sexo(class="form-control") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.dependencia.label }}
            {{ form.dependencia(value=rows[12], type="text", class="form-control") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.correo.label }}
            {{ form.correo(value=rows[5], type="email", class="form-control") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.salario.label }}
            {{ form.salario(value=rows[13], type="text", class="form-control") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.direccion.label }}
            {{ form.direccion(value=rows[6], type="text", class="form-control") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.rol.label }}
            {{ form.rol(class="form-control") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.telefono.label }}
            {{ form.telefono(value=rows[7], type="number", class="form-control",minlength="7") }}

        </div>
    </div>
    <div class="col-md-12">
        <center>
            {{ form.editar(class="btn btn-warning") }}
        </center>
    </div>
</form>
{% endif %}

{% endblock %}