{% extends 'template.html' %}

{% block title %} Inicio - Gestion de Empleados {% endblock %}
{% block name_page %} Gestion de Empleados {% endblock %}
{% block content %}

<a href="/miWeb/crear" type="button" class="btn btn-info">
    Nuevo Empleado
</a><br><br>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Listado de Empleados</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Identificaion</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Cargo</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>123</td>
                    <td>Pepito</td>
                    <td>Perez</td>
                    <td>Desarrollador Web</td>
                    <td>
                        <a href="/miWeb/perfil" title="Ver">
                            <i class="fa fa-eye" style="font-size:24px;color:black"></i>
                        </a>
                        <a href="/miWeb/editar" title="Editar">
                            <i class="fa fa-edit" style="font-size:24px;color:blue"></i>
                        </a>
                        <a data-toggle="modal" data-target="#exampleModalCenter" title="Eliminar">
                            <i class="fa fa-trash" style="font-size:24px;color:red"></i>
                        </a>
                        <a href="/miWeb/desempenio" title="Calificar Desempeño">
                            <i class="fa fa-line-chart" style="font-size:24px;color:green"></i>
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- /.box-body -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" data-backdrop="static"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-center" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Eliminar Empleado</h5>
                </div>
                <div class="modal-body">
                    Desea Eliminar al Empleado.?
                </div>
                <div class="modal-footer">
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        {{ form.eliminar(class="btn btn-success") }}
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}