{% extends 'template.html' %}

{% block title %} Desempeño - Gestion de Empleados {% endblock %}
{% block name_page %} Desempeño {% endblock %}
{% block content %}
<!-- Chat box -->
<br>
{%if rows[0]!= null %}
<div class="box-body chat" id="chat-box">
    <!-- chat item -->
    <div class="item">
        {% for row in rows %}
        <img src="{{ url_for('static', filename='dist/img/user2-160x160.jpg')}}" class="img-circle" alt="User Image">
        <p class="message">
            <a class="name">
                <small class="text-muted pull-right"><i class="fa fa-calendar"></i> 30/10/2021</small>
                {{row[4]}}
            </a>
            {{row[2]}}
            <br>
            Puntaje: {{row[3]}}
        </p>
        <hr>
        {% endfor %}
    </div>
    <!-- /.item -->
</div>
<!-- /.chat -->
{%endif%}
{%if rows[0]==null %}
<div class="alert alert-warning alert-dismissible">
    <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
    <h4><i class="icon fa fa-warning"></i> Alert!</h4>
    No tienes retroalimentacion de desempeño disponibles.
</div>
{% endif %}
{% endblock %}