{% extends 'template.html' %}

{% block title %} Ver Perfil - Gestion de Empleados {% endblock %}
{% block name_page %} Perfil Empleado {% endblock %}
{% block content %}
{%if rows[0]!=null %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="col-md-6">
        <div class="form-group">
            {{ form.identificacion.label }}
            {{ form.identificacion(value=rows[0], type="number", class="form-control",disabled="on") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.fecha_ingreso.label }}
            {{ form.fecha_ingreso(value=rows[8], type="date", class="form-control",disabled="on") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.nombres.label }}
            {{ form.nombres(value=rows[1],type="text", class="form-control",disabled="on") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.tipo_contrato.label }}
            {{ form.tipo_contrato(value=rows[9], type="text", class="form-control",disabled="on") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.apellidos.label }}
            {{ form.apellidos(value=rows[2],type="text", class="form-control",disabled="on") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.terminacion_contrato.label }}
            {{ form.terminacion_contrato(value=rows[10],type="date",class="form-control",disabled="on") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.fecha_nacimiento.label }}
            {{ form.fecha_nacimiento(value=rows[3],type="date",class="form-control",disabled="on") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.cargo.label }}
            {{ form.cargo(value=rows[11],type="text", class="form-control", placeholder="Cargo",disabled="on") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.sexo.label }}
            {{ form.sexo(value=rows[4],class="form-control",disabled="on") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.dependencia.label }}
            {{ form.dependencia(value=rows[12],type="text", class="form-control",disabled="on") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.correo.label }}
            {{ form.correo(value=rows[5],type="email", class="form-control",disabled="on") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.salario.label }}
            {{ form.salario(value=rows[13],type="text", class="form-control",disabled="on") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.direccion.label }}
            {{ form.direccion(value=rows[6],type="text", class="form-control",disabled="on") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.rol.label }}
            {{ form.rol(value=rows[14],class="form-control",disabled="on") }}

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.telefono.label }}
            {{ form.telefono(value=rows[7],type="number", class="form-control",disabled="on") }}

        </div>
    </div>
    <div class="col-md-12">
        <center>

            <a type="button" href=" {% if session['rol']=='Super Administrador' or session['rol']=='Administrador' %}
            {{url_for('main.home')}}
            {% endif %}
            {% if session['rol']=='Usuario Final' %}
            {{url_for('main.ver_desempenio')}}
            {% endif %}" class="btn btn-primary">Regresar</a>
        </center>
    </div>
</form>
{% endif %}
{%if rows[0]==null %}
<div class="alert alert-warning alert-dismissible">
    <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
    <h4><i class="icon fa fa-warning"></i> Alert!</h4>
    Perfil Seleccionado NO existe.
</div>
{% endif %}
{% endblock %}